################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/msvraynet/FileContentIndex
/.vs/msvraynet/v17/.wsuo
/.vs/slnx.sqlite
